:root {
  --background-color: #111111;
  --main-color: #c2cad0;
  --secondary-color: #5cdb95;
  --button-color: #393e46;
}
fea
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background-color);
}

body>.container {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 900px;
  margin: 0 auto;
}

.section-heading {
  width: 100%;
  display: inline-block;
  font-size: 20px;
  color: var(--secondary-color);
  text-decoration: underline;
}

* Navbar Styles */

nav {
  width: 100%;
  background-color: var(--background-color);
  padding-left: 30px;
  padding-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .top-nav {
  background-color: var(--background-color);
  overflow: hidden;
}

.top-nav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  padding: 5px 7px;
  margin: 5px 0;
  text-decoration: none;
  color: var(--secondary-color);
}

.top-nav a:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.top-nav .icon {
  display: none;
} 

.logo {
  display: inline-block;
}

.eye-foreground {
  position: absolute;
  color: var(--secondary-color);
  top: 8px;
  z-index: 9999;
  font-size: 36px;
}

.eye-background {
  position: absolute;
  color: var(--main-color);
  left: 10px;
  top: 0px;
  opacity: 70%;
  font-size: 36px;
}

.logo-text-foreground {
  position: absolute;
  color: var(--secondary-color);
  left: 50px;
  top: 15px;
  z-index: 9999;
  font-size: 26px;
}

.logo-text-background {
  position: absolute;
  color: var(--main-color);
  left: 60px;
  top: 6px;
  opacity: 70%;
  font-size: 26px;
}



/* Hero Styling */

.bg-img {
  background-image: url('https://www.lessthanseventy.com/hero-image.jpg');
  height: 100vh;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.chevron {
  bottom: 10px;
  color: var(--main-color);
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;

}
.bg-image .container {
  height: 90vh;
  margin: 20px 20px 0px 20px;
  position: absolute;
  width: 95%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 75px auto;
  position: relative;
  text-align: center;
  width: 80%;
  word-wrap: break-word;
}

.hero-text .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: var(--main-color);
  background-color: rgba(11,19,43,0.65);
  width: 300px;
  height: 60px;
  padding: 5px;;
}

.hero-text .subtitle {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  width: 230px;
  height: 50px;
  font-size: 30px;
  background-color: rgba(11,19,43,0.65);
}

/* About Section */

#about {
  color: var(--main-color);
  font-size: 1.5em;
  height: auto;
}

#about .section-heading {
  text-align: left;
}

#about .container {
  padding: 10px;
  margin-top: 25px;
}

#about .container h1 {
  padding: 2px 15px;
}

#about p {
  margin-top: 10px;
}


/* Projects Section */

#projects {
  color: var(--main-color);
  height: auto;
}

#projects .section-heading {
  text-align: center;
  padding-right: 15px;
  padding-top: 25px;
}

#projects .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  height: auto;
}

#projects .container .card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px;
}

#projects .card .card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 175px;
  color: var(--main-color);
  width: 100%;
  text-align: center;
  font-size: 115%;
  border: 1px solid white;
}

#projects .card .card-body i {
  color: var(--secondary-color)
}

#projects .card .card-body .card-body-heading {
  font-weight: bolder;
  text-decoration: underline;
  font-size: 1.2em;
  color: var(--secondary-color);
}

#projects .card .card-title {
  height: 45px;
  border: 1px solid black;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 5px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  width: 100%;
}

#projects .card .card-title a {
  color: var(--main-color);
  margin-bottom: 7px;
}

#projects .card .card-title a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* footer Section */

#footer {
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
}

#footer .section-heading {
  width: 100%;
  margin-bottom: 15px;
}

#footer button {
  color: var(--main-color);
  background-color: var(--background-color);
  border: none;
  text-decoration: underline;
  font-size: 20px;
  width: 40px;
}

#footer button:hover {
  cursor: pointer;
}

#footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
}

#footer .container a {
  width: 40px;
}

#footer .container a i {
  color: var(--main-color);
  font-size: 40px;
}

#footer form {
  width: 250px;
  margin: 0 auto;
}

#footer form label {
  color: var(--main-color);
}

input[type=text], input[type=email], textarea {
  background-color: var(--background-color);
  color: var(--main-color);
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 10px; 
  height: 25px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--button-color);
  color: var(--main-color);
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  border: 1px solid black;
}

textarea {
  height: 150px;
}

/* Modal Styles */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: var(--background-color);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close {
  position: absolute;
  color: var(--main-color);
  font-size: 28px;
  font-weight: bold;
  top: 1px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: center;
  padding: 15px 25px;
  color: var(--main-color);
}

.modal-body {
  padding: 2px 16px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Responsive Styles */


@media screen and (max-width: 600px) {
  .top-nav a {display: none;}
  .top-nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .top-nav.responsive {position: relative;}
  .top-nav.responsive a.icon {
    position: absolute;
    right: -25px;
    top: 0;
  }
  .top-nav.responsive a.icon:hover {
    background-color: var(--main-color);
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-right: 25px;
  }
}

@media screen and (max-width: 600px) {

  #projects .container {
    flex-direction: column;
}


/* Chrome Styling */
*-foreground:not(*:root), *-background:not(*:root) {
    font-size: 1.5em;
  }